<template>
  <q-page class="flex q-pa-md flex-center">
    <img alt="bondan mintardjo" src="~assets/bondan-card.jpg" style="height: 300px" />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "AboutPage",
});
</script>
