<template>
  <q-page class="q-pa-md row q-col-gutter-md">
    <div class="col-12 col-md-8">
      <div class="flex q-mt-md q-mb-xl">
        <div class="col-grow">
          <h1 class="text-h1">Movie Detail</h1>
        </div>
        <div>
          <q-btn
            @click="showDialog"
            color="red"
            icon="delete"
            label="Delete this Movie"
          />
        </div>
      </div>

      <MovieForm :movie="movie" @onSubmit="updateMovie" />
      <ConfirmDialog
        :show="isShowDialog"
        title="Delete Movie"
        @onSubmit="deleteMovie"
        @onCancel="closeDialog"
      >
        Are you sure want to delete this movie?
      </ConfirmDialog>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import { useMoviesStore } from "src/stores/movie-store";
import { useRoute, useRouter } from "vue-router";
import MovieForm from "src/components/MovieForm.vue";
import ConfirmDialog from "src/components/ConfirmDialog.vue";

export default defineComponent({
  name: "IndexPage",
  setup() {
    const route = useRoute();
    const router = useRouter();

    const id = route.params.id;
    const movies = useMoviesStore();
    const selectedMovie = movies.movieById(id);

    const isShowDialog = ref(false);

    // make a copy so it's not reactive. it's updated based on save button in the form
    const movie = selectedMovie ? JSON.parse(JSON.stringify(selectedMovie)) : undefined;

    const showDialog = () => {
      isShowDialog.value = true;
    };
    const closeDialog = () => {
      isShowDialog.value = false;
    };
    const deleteMovie = () => {
      movies.deleteMovie(id);
      router.push({ name: "homePage" });
    };
    const updateMovie = () => {
      movies.updateMovie(id, movie);
      router.push({ name: "homePage" });
    };

    return {
      movie,
      isShowDialog,
      showDialog,
      closeDialog,
      deleteMovie,
      updateMovie,
    };
  },
  components: { MovieForm, ConfirmDialog },
});
</script>
