<template>
  <q-page class="q-pa-md q-col-gutter-md flex column">
    <div class="row mb-2">
      <div class="col-12 col-md-8"><SearchField label="Search by title..." /></div>
    </div>
    <div v-if="moviesList.length" class="row q-col-gutter-md col-shrink">
      <div class="col-12 col-md-3" v-for="movie in moviesList" :key="movie.id">
        <MovieCard class="fit full-height" :movie="movie" />
      </div>
    </div>
    <div v-if="moviesList.length == 0" class="flex column flex-center col-grow">
      <p>No movies found</p>
    </div>

    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="primary" @click="addNew" />
    </q-page-sticky>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import SearchField from "src/components/SearchField.vue";
import MovieCard from "src/components/MovieCard.vue";
import { useMoviesStore } from "src/stores/movie-store";
import { storeToRefs } from "pinia";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "IndexPage",
  components: { MovieCard, SearchField },
  setup() {
    const movies = useMoviesStore();
    const { filteredMovies } = storeToRefs(movies);
    const router = useRouter();
    const addNew = () => router.push({ name: "newPage" });

    return {
      moviesList: filteredMovies,
      addNew,
    };
  },
});
</script>
