<template>
  <q-page class="q-pa-md row q-col-gutter-md">
    <div class="col-12 col-md-8">
      <div class="flex q-mt-md q-mb-xl">
        <div>
          <h1 class="text-h1">New Movie</h1>
        </div>
      </div>

      <MovieForm :movie="movie" @onSubmit="saveMovie" />
    </div>
  </q-page>
</template>

<script>
import { defineComponent, reactive } from "vue";
import { useRouter } from "vue-router";
import { useMoviesStore } from "src/stores/movie-store";
import MovieForm from "src/components/MovieForm.vue";

export default defineComponent({
  name: "NewPage",
  setup() {
    const movie = reactive({
      id: null,
      title: "",
      director: "",
      summary: "",
      genres: [],
    });
    const movies = useMoviesStore();
    const router = useRouter();

    const saveMovie = (movie) => {
      movies.addMovie(movie);
      router.push({ name: "homePage" });
    };
    return {
      movie,
      saveMovie,
    };
  },
  components: { MovieForm },
});
</script>
