<template>
  <q-dialog v-model="confirm" persistent>
    <q-card>
      <q-toolbar>
        <q-toolbar-title>
          {{ title }}
        </q-toolbar-title>

        <q-btn flat round dense icon="close" @click="closeDialog" v-close-popup />
      </q-toolbar>
      <q-card-section class="row items-center">
        <slot />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="CANCEL" color="primary" @click="closeDialog" v-close-popup />
        <q-btn flat label="OK" color="primary" @click="okButtonClick" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { defineComponent, computed } from "vue";

export default defineComponent({
  name: "ConfirmDialog",
  emits: ["onSubmit", "onCancel"],
  props: {
    show: {
      type: Boolean,
      required: true,
    },
    title: {
      type: String,
      required: false,
      default: "Confirmation Dialog",
    },
  },
  setup(props, ctx) {
    const confirm = computed(() => props.show);
    const okButtonClick = () => {
      ctx.emit("onSubmit");
    };
    const closeDialog = () => {
      ctx.emit("onCancel");
    };
    return {
      confirm,
      closeDialog,
      okButtonClick,
    };
  },
});
</script>
