<template>
  <q-card
    @click="gotoDetail()"
    class="my-card flex column cursor-pointer q-hoverable"
    v-ripple
  >
    <q-card-section>
      <div class="text-h2">{{ movie.title }}</div>
      <div class="text-subtitle2">{{ movie.director }}</div>
    </q-card-section>
    <q-card-section class="q-pt-none col-grow">
      {{ movie.summary }}
    </q-card-section>

    <q-separator inset />
    <q-card-section class="q-pt-md">
      <q-chip
        color="primary"
        text-color="white"
        v-for="genre in movie.genres"
        :key="genre"
      >
        {{ genre }}
      </q-chip>
    </q-card-section>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "MovieCard",
  props: {
    movie: {
      type: Object,
      required: true,
      default: () => {
        return {
          id: String,
          title: String,
          director: String,
          summary: String,
          genres: Array,
        };
      },
    },
  },
  setup(props) {
    const router = useRouter();
    const gotoDetail = () =>
      router.push({ name: "detailPage", params: { id: props.movie.id } });

    return {
      gotoDetail,
    };
  },
});
</script>
