// app global css in SCSS form
.text-h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  line-height: 1.2em;
}

.text-h2 {
  font-size: 1.6em;
  margin: 0 0 10px;
  line-height: 1.2em;
  font-weight: 500;
}
